.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
/nbproject/private/
config/autoload/development.local.php.dist
database_schema/panika_schema.mwb.bak
database_schema/panika_schema.mwb.beforefix
composer.lock
config/autoload/local.php
config/autoload/local.php
