.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
/nbproject/private/
config/autoload/development.local.php.dist
config/autoload/development.local.php.dist
